@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

body, button {
  font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

p.no-space {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.backdrop {
  background: url("../img/welcome/background.png");
  background-repeat:no-repeat;
  background-position:center;
  background-color:#f4f4f4;
}

.backdrop-simple {
  background-color:#f4f4f4;
}

/*
** HEADER OBJECTS
*/

#header {
  padding: 8px 0;
  background-color: rgba(208, 208, 208, 0.25);
}

#header .logo {
  height: 64px;
}

#header h1 {
  margin-left: 16px;
  line-height: 64px;
  text-align: center;

  text-shadow: 2px 4px 8px rgba(0,0,0,0.4),
               0px -5px 35px rgba(255,255,255,0.8);

  font-size: 24px;
  font-weight: bold;
}

#header h2 {
  margin-left: 16px;
  line-height: 16px;
  text-align: center;

  text-shadow: 2px 4px 8px rgba(0,0,0,0.4),
               0px -5px 35px rgba(255,255,255,0.8);

  font-size: 16px;
  font-weight: normal;
}

#header .system-information {
  margin: 12px 8px 8px 8px;
}

#header .system-information p {
  margin: 0px;
  text-align: right;
}

#header .summary p {
  margin: 0 16px 8px 16px;
}

#header .summary {
  margin-top: 8px;
  margin-bottom: 8px;
}

/*
** HEADER OBJECTS
*/

#navigation {
  display: none;
  position: absolute;
  left: 0;
  top: 19px;
}

#navigation ul {
  margin: 0;
  padding: 0;

}

#navigation ul li {
  float: left;
  list-style-type: none;
  padding: 8px;
  margin: 0;

  border: 1px solid #eee;
  border-left: 0;
  background-color: #fff;
}

#navigation ul li:last-child {
  list-style-type: none;

  border-radius: 0 4px 4px 0;
}

#navigation ul li:hover {
  background-color: #f0f0f0;
}

#navigation ul li a {
  color: #333333;
}

#navigation ul li a:hover {
  text-decoration: inherit;
}

/*
** CONTENT OBJECTS
*/

#content {
  padding-bottom: 64px;
}

.divider {
  padding-top: 16px;
  background: url("../img/welcome/header-shadow.png") center 0 no-repeat;
}

.btn-showcase {
  padding: 0 8px;
}

.btn-showcase h4 {
  text-align: center;
}

.btn-showcase .btn {
  line-height: 32px;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 20px;
}


/*
** FOOTER OBJECTS
*/

#footer {
  background: url("../img/welcome/footer-bg.jpg");
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding: 0;
}

#footer .footer-content {
  background: url("../img/welcome/footer-shadow.png") center 0 no-repeat;
  padding: 16px;
}

#footer .form {
  display: inline-block;
  position: absolute;
  right: 8px;
}

#footer .form a {
  color: #fff;
  text-decoration: none;
  margin-right: 8px;
}

#footer label {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right: 8px;
  color: #fff;
}

#social {
  margin: 6px 0px 0 0;
}

#social img {
  position: relative;
  top: 0px;
  opacity: 0.7;

  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-in-out;

  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
}

#social img:hover {
  top: -4px;
  opacity: 1.0;
}

/* No margin for social icon in navbar */
.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.left {
    margin-right: 10px;
    float: left;
}

img.right {
    margin-right: 10px;
    float: right;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.fa-va {
  vertical-align: middle;
}

/** Splash Screen **/
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 446px;
  height: 459px;
  margin: -223px 0 0 -229.5px;
  background-color: #f4f4f4;
  opacity: 1;

  /** Logo animation **/
     -webkit-animation: hello 1.2s cubic-bezier(.42,0,.58,1) 1;
        -moz-animation: hello 1.2s cubic-bezier(.42,0,.58,1) 1;
          -o-animation: hello 1.2s cubic-bezier(.42,0,.58,1) 1;
             animation: hello 1.2s cubic-bezier(.42,0,.58,1) 1;
  }

  /** Logo keyframes - Move, fade in, spin **/
  @-webkit-keyframes hello {
    from { opacity: 0; left: 100%; -webkit-transform: rotate(60deg); }
    to   { opacity: 1; left: 50%; }
  }
  @-moz-keyframes hello {
    from { opacity: 0; left: 100%; -moz-transform: rotate(60deg); }
    to   { opacity: 1; left: 50%; }
  }
  @-o-keyframes hello {
    from { opacity: 0; left: 100%; -o-transform: rotate(60deg); transform:rotate(60deg); }
    to   { opacity: 1; left: 50%; }
  }
  @keyframes hello {
    from { opacity: 0; left: 100%; -webkit-transform: rotate(60deg); transform:rotate(60deg); }
    to   { opacity: 1; left: 50%; }
  }

/** Fade elements on Main Menu **/
.fade { opacity: 0 }
.fade-1s { -webkit-animation: fadeIn 1000ms forwards 10ms;   animation: fadeIn 1000ms forwards 10ms; }   /** Header **/
.fade-2s { -webkit-animation: fadeIn 1000ms forwards 400ms;  animation: fadeIn 1000ms forwards 400ms; }  /** Subheadings **/
.fade-3s { -webkit-animation: fadeIn 1000ms forwards 600ms;  animation: fadeIn 1000ms forwards 600ms; }  /** Row 1 Buttons **/
.fade-4s { -webkit-animation: fadeIn 1000ms forwards 800ms;  animation: fadeIn 1000ms forwards 800ms; }  /** Row 2 Buttons **/
.fade-5s { -webkit-animation: fadeIn 1000ms forwards 1000ms; animation: fadeIn 1000ms forwards 1000ms; }  /** Row 3 Buttons **/

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/** Floating Back to Top **/
.scrollup {
    position: fixed;
    top: 32px;
    right: 32px;
    display: none;
}

/** Toggling visibility on software page **/
.hideSection { display: none; }
.proprietary { }
.alternate { }

/** Popover **/
.popover-title {
    background: url('../img/welcome/footer-bg.jpg') repeat-x top center;
    color: #fff;
}
